*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("../img/background_yellow2.png") ;
    /* font-weight:800; */
    font-family: "Press Start 2P", system-ui;
}
ul{
    list-style: none;
}